
*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: rgba(119, 117, 117, 0.972);
}
main {
	padding: 2% 5% 0%;
}
.div2{
    border-radius: 10px; 
	padding: 10px;
	margin: 1px; 
    background-color: black;
	text-align: center;
	color: #222;
}
.d2{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.pic{
    height: 800px;
    width: 1200px;
    border-radius: 15px;   
}
.img{
    height:600px;
    width: 1300px;
    /* background-color: #ccc; */
}
/* Container holding the image and the text */
.container {
    position: relative;
}
  
  /* Bottom right text */
.text-block {
    position: absolute;
    top: 150px;
    left: 250px;
    font-size: 40px;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}
.desc{
    font-size: 20px;
}
#h2{
    font-size: 32px;
}
.desc{
    font-size: 24px;
}
.text-center-quotes{
    font-size: 25px;
}

.content  {
	border-radius: 10px;
	background-color: rgba(166, 170, 170, 0.4);
	padding: 15px;
	font-size: 18px;
    text-align: center;
}

.content ul {
	padding: 0 16vw;
	text-align: left;
	color: rgb(0, 0, 0);
	font-size: 22px;
	font-weight: bold;
	list-style: disc;
	list-style-position: inside;
}

.content ul li {
	font-weight: 100;
}

.content ul li strong:after {
	content: " - ";
	font-weight: 100;
}


  